@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <br />
    <br />
    <p>Bem-vindo ao "Bibliotech" - o seu sistema de bibliotecas! <br />
       Aqui, os alunos podem escolher e reservar livros que despertem seu interesse.<br />
        Fique à vontade para nos seguir nas redes sociais. <a href="https://beacons.ai/renanpollo" target="_blank" style="text-decoration: none;">Acesse aqui</a>
    </p>
</div>
    